@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
/* Welcome to Compass&.
 * In this file you should write your main styles&. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 23, ../scss/sass/screen.scss */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #2b3e51;
  background-size: 200% 200%;
  background-origin: center;
}

/* line 35, ../scss/sass/screen.scss */
.food {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  margin-left: -40%;
  max-width: 980px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

/* line 51, ../scss/sass/screen.scss */
.ingredient {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.6);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 54, ../scss/sass/screen.scss */
.ingredient .inner-ingredient {
  position: absolute;
  content: "";
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-size: 105% 105%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  border-radius: 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: rotate3d(1, 1, 0, 180deg);
  -moz-transform: rotate3d(1, 1, 0, 180deg);
  -ms-transform: rotate3d(1, 1, 0, 180deg);
  -o-transform: rotate3d(1, 1, 0, 180deg);
  transform: rotate3d(1, 1, 0, 180deg);
  -webkit-transition: -webkit-transform 1s, -webkit-transform 1s, opacity 1s;
  -moz-transition: -moz-transform 1s, -webkit-transform 1s, opacity 1s;
  -o-transition: -o-transform 1s, -webkit-transform 1s, opacity 1s;
  transition: transform 1s, -webkit-transform 1s, opacity 1s;
}
/* line 70, ../scss/sass/screen.scss */
.ingredient .inner-ingredient.rotated {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: rotate3d(1, 1, 0, -180deg);
  -moz-transform: rotate3d(1, 1, 0, -180deg);
  -ms-transform: rotate3d(1, 1, 0, -180deg);
  -o-transform: rotate3d(1, 1, 0, -180deg);
  transform: rotate3d(1, 1, 0, -180deg);
}

/* line 79, ../scss/sass/screen.scss */
.recipeScreen {
  position: absolute;
  background-color: #d6c98e;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 5000;
  text-align: center;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 40px 2px #845c3f 0;
  -moz-box-shadow: inset 0 40px 2px #845c3f 0;
  box-shadow: inset 0 40px 2px #845c3f 0;
}
/* line 91, ../scss/sass/screen.scss */
.recipeScreen h1 {
  color: white;
  text-transform: uppercase;
  font-family: times new roman;
  color: rgba(0, 0, 0, 0.8);
}
/* line 98, ../scss/sass/screen.scss */
.recipeScreen .recipe {
  position: relative;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 15px;
}
/* line 104, ../scss/sass/screen.scss */
.recipeScreen .recipe .title {
  display: block;
  color: white;
  text-transform: uppercase;
  font-family: times new roman;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  padding: 0;
  margin: 0;
}
/* line 116, ../scss/sass/screen.scss */
.recipeScreen .recipe .ingredient {
  position: relative;
  display: inline-block;
  border-radius: 80px;
  background-size: 100%;
  margin: 5px;
  -webkit-box-shadow: 0 10px 2px rgba(132, 92, 63, 0.5) 0;
  -moz-box-shadow: 0 10px 2px rgba(132, 92, 63, 0.5) 0;
  box-shadow: 0 10px 2px rgba(132, 92, 63, 0.5) 0;
}
