@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
/* Welcome to Compass&.
 * In this file you should write your main styles&. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@-webkit-keyframes selected {
  /* line 25, ../scss/sass/screen.scss */
  to {
    width: 140%;
    height: 140%;
    margin-left: -20%;
    margin-top: -20%;
    opacity: 1;
  }
}
@-moz-keyframes selected {
  /* line 25, ../scss/sass/screen.scss */
  to {
    width: 140%;
    height: 140%;
    margin-left: -20%;
    margin-top: -20%;
    opacity: 1;
  }
}
@-ms-keyframes selected {
  /* line 25, ../scss/sass/screen.scss */
  to {
    width: 140%;
    height: 140%;
    margin-left: -20%;
    margin-top: -20%;
    opacity: 1;
  }
}
@keyframes selected {
  /* line 25, ../scss/sass/screen.scss */
  to {
    width: 140%;
    height: 140%;
    margin-left: -20%;
    margin-top: -20%;
    opacity: 1;
  }
}
@-webkit-keyframes failure {
  /* line 37, ../scss/sass/screen.scss */
  90% {
    opacity: 1;
  }

  /* line 40, ../scss/sass/screen.scss */
  100% {
    width: 140%;
    height: 140%;
    margin-left: -20%;
    margin-top: -20%;
    opacity: 0;
  }
}
@-moz-keyframes failure {
  /* line 37, ../scss/sass/screen.scss */
  90% {
    opacity: 1;
  }

  /* line 40, ../scss/sass/screen.scss */
  100% {
    width: 140%;
    height: 140%;
    margin-left: -20%;
    margin-top: -20%;
    opacity: 0;
  }
}
@-ms-keyframes failure {
  /* line 37, ../scss/sass/screen.scss */
  90% {
    opacity: 1;
  }

  /* line 40, ../scss/sass/screen.scss */
  100% {
    width: 140%;
    height: 140%;
    margin-left: -20%;
    margin-top: -20%;
    opacity: 0;
  }
}
@keyframes failure {
  /* line 37, ../scss/sass/screen.scss */
  90% {
    opacity: 1;
  }

  /* line 40, ../scss/sass/screen.scss */
  100% {
    width: 140%;
    height: 140%;
    margin-left: -20%;
    margin-top: -20%;
    opacity: 0;
  }
}
/* line 49, ../scss/sass/screen.scss */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  background-color: #2b3e51;
  background-size: 105%;
  background-origin: center;
  background-image: url(../img/app-background.jpg);
}

/* line 64, ../scss/sass/screen.scss */
.main-container {
  height: 100%;
  width: 100%;
}
/* line 67, ../scss/sass/screen.scss */
.main-container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-image: url(../img/bottom-floorskirt.png);
}

/* line 79, ../scss/sass/screen.scss */
.food {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  margin-left: -40%;
  max-width: 980px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 80, ../scss/sass/screen.scss */
.food:before {
  content: "";
  background-image: url(../img/silver-platter.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  border-radius: 9px;
  background-color: rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 40px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 40px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 40px 4px rgba(0, 0, 0, 0.5);
}

/* line 108, ../scss/sass/screen.scss */
.ingredient {
  position: absolute;
  z-index: 100;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 112, ../scss/sass/screen.scss */
.ingredient .inner-ingredient {
  position: absolute;
  content: "";
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-size: 105% 105%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  border-radius: 80px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -moz-transform: rotate3d(1, 1, 0, 180deg);
  -webkit-transform: rotate3d(1, 1, 0, 180deg);
  transform: rotate3d(1, 1, 0, 180deg);
  -moz-transition: -moz-transform 500ms, -webkit-transform 500ms, opacity 500ms;
  -o-transition: -o-transform 500ms, -webkit-transform 500ms, opacity 500ms;
  -webkit-transition: -webkit-transform 500ms, -webkit-transform 500ms, opacity 500ms;
  transition: transform 500ms, -webkit-transform 500ms, opacity 500ms;
  z-index: 2001;
}
/* line 129, ../scss/sass/screen.scss */
.ingredient .inner-ingredient.rotated {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: rotate3d(1, 0, 0, -180deg);
  -webkit-transform: rotate3d(1, 0, 0, -180deg);
  transform: rotate3d(1, 0, 0, -180deg);
}
/* line 135, ../scss/sass/screen.scss */
.ingredient .inner-ingredient:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  top: 0;
  left: 0;
  -moz-transition: margin 100ms, width 100ms;
  -o-transition: margin 100ms, width 100ms;
  -webkit-transition: margin 100ms, width 100ms;
  transition: margin 100ms, width 100ms;
}
/* line 147, ../scss/sass/screen.scss */
.ingredient .inner-ingredient.selected {
  z-index: 2001;
}
/* line 149, ../scss/sass/screen.scss */
.ingredient .inner-ingredient.selected:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  top: 0;
  left: 0;
  background-image: url(../img/selected.svg);
  background-size: 100%;
  z-index: 100;
  opacity: 0;
  -webkit-animation: selected 200ms forwards;
  -moz-animation: selected 200ms forwards;
  -ms-animation: selected 200ms forwards;
  -o-animation: selected 200ms forwards;
  animation: selected 200ms forwards;
}
/* line 167, ../scss/sass/screen.scss */
.ingredient .inner-ingredient.failure {
  z-index: 2001;
}
/* line 169, ../scss/sass/screen.scss */
.ingredient .inner-ingredient.failure:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  top: 0;
  left: 0;
  background-image: url(../img/failure.svg);
  background-size: 100%;
  z-index: 100;
  opacity: 0;
  -webkit-animation: failure 200ms forwards;
  -moz-animation: failure 200ms forwards;
  -ms-animation: failure 200ms forwards;
  -o-animation: failure 200ms forwards;
  animation: failure 200ms forwards;
}

/* line 191, ../scss/sass/screen.scss */
.recipeScreen {
  position: absolute;
  background-color: #d6c98e;
  width: 100%;
  height: 100%;
  z-index: 5000;
  text-align: center;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: inset 0 0 40px 2px #845c3f;
  -webkit-box-shadow: inset 0 0 40px 2px #845c3f;
  box-shadow: inset 0 0 40px 2px #845c3f;
}
/* line 202, ../scss/sass/screen.scss */
.recipeScreen h1 {
  color: white;
  text-transform: uppercase;
  font-family: times new roman;
  color: rgba(0, 0, 0, 0.8);
}
/* line 209, ../scss/sass/screen.scss */
.recipeScreen .recipe {
  position: relative;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 15px;
}
/* line 215, ../scss/sass/screen.scss */
.recipeScreen .recipe .title {
  display: block;
  color: white;
  text-transform: uppercase;
  font-family: times new roman;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  padding: 0;
  margin: 0;
}
/* line 227, ../scss/sass/screen.scss */
.recipeScreen .recipe .ingredient {
  position: relative;
  display: inline-block;
  border-radius: 80px;
  background-size: 100%;
  margin: 5px;
  -moz-box-shadow: 0 0 10px 2px rgba(132, 92, 63, 0.5);
  -webkit-box-shadow: 0 0 10px 2px rgba(132, 92, 63, 0.5);
  box-shadow: 0 0 10px 2px rgba(132, 92, 63, 0.5);
}

/* line 240, ../scss/sass/screen.scss */
.score-board {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40%;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  text-size: 10px;
  border: 1px solid white;
  border-radius: 30px;
}
/* line 252, ../scss/sass/screen.scss */
.score-board:before {
  content: "Calories: ";
}

/* line 257, ../scss/sass/screen.scss */
.ingredients-button {
  position: absolute;
  top: 50px;
  left: 10px;
  width: 40%;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  text-size: 10px;
  border: 1px solid white;
  border-radius: 30px;
}
