/* Welcome to Compass&.
 * In this file you should write your main styles&. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass";
@import "animation";
@import "_base";


$otherThanPhone: "only screen and (min-width : 602px)";

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);



$regularFont : 'Ubuntu';
$thinFont : Roboto-light;
$mediumItalicFont : Roboto-medium-italic;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: {
    color: rgba(43,62,81,1);
    size: 200% 200%;
    origin: center;
  }
}

.food {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  margin-left: -40%;
  max-width: 980px;
  border-radius: 10px;
  background: {
    color: rgba(0,0,0,0.4);
  }
  @include box-sizing(border-box);
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.6);
}

.ingredient {
  position: absolute;

  .inner-ingredient {
    position: absolute;
    content: "";
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: {
      size: 105% 105%;
    }
    @include opacity(0);
    border-radius: 80px;
    @include box-sizing(border-box);
    @include perspective(1000px);
    @include transform3d(rotate3d(1,1,0,180deg));
    @include transition(transform 1s, -webkit-transform 1s, opacity 1s);
    &.rotated {
        @include opacity(1);
        @include transform3d(rotate3d(1,1,0,-180deg));
    }
  }

  border: 1px solid rgba(0,0,0,0.6);
  @include box-sizing(border-box);
}
.recipeScreen {
  position: absolute;
  background-color: rgba(214,201,142,1);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 5000;
  text-align: center;
  padding: 10px;
  @include box-sizing(border-box);
  @include single-box-shadow(0, 0, 40px, 2px, rgba(132,92,63,1),inset);

  h1 {
    color: white;
    text-transform: uppercase;
    font-family: times new roman;
    color: (rgba(0,0,0,0.8));
  }

  .recipe {
    position: relative;
    padding: 10px;
    @include box-sizing(border-box);
    margin-bottom: 15px;

    .title {
      display: block;
      color: white;
      text-transform: uppercase;
      font-family: times new roman;
      font-weight: bold;
      color: (rgba(0,0,0,0.6));
      padding: 0;
      margin: 0;

    }

    .ingredient {
      position: relative;
      display: inline-block;
      border-radius: 80px;
      background: {
        size: 100%;
      }
      margin: 5px;
      @include single-box-shadow(0, 0, 10px, 2px, rgba(132,92,63,0.5));
    }
  }

}
