/* Welcome to Compass&.
 * In this file you should write your main styles&. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass";
@import "animation";
@import "_base";


$otherThanPhone: "only screen and (min-width : 602px)";

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);



$regularFont : 'Ubuntu';
$thinFont : Roboto-light;
$mediumItalicFont : Roboto-medium-italic;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: {
    image: url(../img/app-background.jpg);
    size: 200% 200%;
    origin: center;
  }
}

.food {
  position: relative;
  height: 80%;
  width: 100%;
  @include box-sizing(border-box);
}

.item {
  position: absolute;
  .inner-item {
    position: absolute;
    content: "";
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: {
      size: 100% 100%;
    }
    border-radius: 80px;
  }
  @include box-sizing(border-box);
}
.recipeScreen {
  position: absolute;
  background-color: rgba()
  width: 100%;
  height: 100%;
  top: 0;
  .recipe {
    position: relative;
    padding: 10px;
    @include box-sizing(border-box);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    margin-bottom: 10px;
    
    .title {
      display: block;
      color: white;
    }
    .item {
      position: relative;
      display: inline-block;
      border-radius: 80px;
      width: 10%;
      height: 10%;
    }
  }

}