/* Welcome to Compass&.
 * In this file you should write your main styles&. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass";
@import "animation";
@import "_base";


$otherThanPhone: "only screen and (min-width : 602px)";

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);



$regularFont : 'Ubuntu';
$thinFont : Roboto-light;
$mediumItalicFont : Roboto-medium-italic;

@include keying(selected) {
  from {
  }
  to {
    width: 140%;
    height: 140%;
    margin-left: -20%;
    margin-top: -20%;
    opacity: 1;
  }
}

@include keying(failure) {
  0% {
  }
  90% {
    opacity: 1;
  }
  100% {
    width: 140%;
    height: 140%;
    margin-left: -20%;
    margin-top: -20%;
    opacity: 0;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  background: {
    color: rgba(43,62,81,1);
    size: 105%;
    origin: center;
    image: url(../img/app-background.jpg);
  }
}

.main-container {
  height: 100%;
  width: 100%;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    background: {
      image: url(../img/bottom-floorskirt.png);
    }
  }
}

.food {
  &:before {
    content: "";
    background: {
      image: url(../img/silver-platter.png);
      size: 100%;
      repeat: no-repeat;
    }
    position: absolute;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    border-radius: 9px;
    background: {
      color: rgba(0,0,0,0.4);
    }
    @include single-box-shadow(0,0,40px,4px, rgba(0,0,0,0.5));
  }
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  margin-left: -40%;
  max-width: 980px;
  @include box-sizing(border-box);
  
}

.ingredient {
  position: absolute;
  z-index: 100;

  .inner-ingredient {
    position: absolute;
    content: "";
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: {
      size: 105% 105%;
    }
    @include opacity(0);
    border-radius: 80px;
    @include box-sizing(border-box);
    @include perspective(1000px);
    @include transform3d(rotate3d(1,1,0,180deg));
    @include transition(transform 500ms, -webkit-transform 500ms, opacity 500ms);
    
    &.rotated {
        @include opacity(1);
        @include transform3d(rotate3d(1,0,0,-180deg));
    }
    z-index: 2001;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-top: 0;
        top:0;
        left: 0;
        @include transition(margin 100ms, width 100ms);
    }

    &.selected {
      z-index: 2001;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-top: 0;
        top:0;
        left: 0;
        background: {
          image: url(../img/selected.svg);
          size: 100%;
        }
        z-index: 100;
        opacity: 0;
        @include animation(selected 200ms forwards);
      }
    }
    &.failure {
      z-index: 2001;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-top: 0;
        top:0;
        left: 0;
        background: {
          image: url(../img/failure.svg);
          size: 100%;
        }
        z-index: 100;
        opacity: 0;
        @include animation(failure 200ms forwards);
      }
    }
  }

  @include box-sizing(border-box);
}
.recipeScreen {
  position: absolute;
  background-color: rgba(214,201,142,1);
  width: 100%;
  height: 100%;
  z-index: 5000;
  text-align: center;
  padding: 10px;
  @include box-sizing(border-box);
  @include single-box-shadow(0, 0, 40px, 2px, rgba(132,92,63,1),inset);

  h1 {
    color: white;
    text-transform: uppercase;
    font-family: times new roman;
    color: (rgba(0,0,0,0.8));
  }

  .recipe {
    position: relative;
    padding: 10px;
    @include box-sizing(border-box);
    margin-bottom: 15px;

    .title {
      display: block;
      color: white;
      text-transform: uppercase;
      font-family: times new roman;
      font-weight: bold;
      color: (rgba(0,0,0,0.6));
      padding: 0;
      margin: 0;

    }

    .ingredient {
      position: relative;
      display: inline-block;
      border-radius: 80px;
      background: {
        size: 100%;
      }
      margin: 5px;
      @include single-box-shadow(0, 0, 10px, 2px, rgba(132,92,63,0.5));
    }
  }
}

.score-board {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40%;
  padding: 10px;
  color: white;
  text-transform: uppercase;

  text-size: 10px;
  border: 1px solid white;
  border-radius: 30px;
  &:before {
    content: "Calories: "
  }
}

.ingredients-button {
  position: absolute;
  top: 50px;
  left: 10px;
  width: 40%;
  padding: 10px;
  color: white;
  text-transform: uppercase;

  text-size: 10px;
  border: 1px solid white;
  border-radius: 30px;
}
